<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado de pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="mostrarSpinner">Aquí va el spinner!</div>
  <div *ngIf="!mostrarSpinner">
    <ion-item>
      <ion-segment (ionChange)="cambiaTipoPedido($event)" value="pendientes">
        <ion-segment-button value="pendientes">
          <ion-label>Pedidos Pendientes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="tomados">
          <ion-label>Pedidos Tomados</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>

    <ion-list>
      <div  style="border-bottom: 1px solid black" *ngFor="let pedido of pedidos">
        <ion-item no-padding *ngIf='correspondeAlPerfil(pedido, usuario.puesto)'>
          <ion-grid>
            <ion-row>
              <label>Mesa: <strong>{{pedido.numeroMesa}}</strong></label><br>
            </ion-row>
            <ion-row>
              <ion-list>
                <ion-item *ngFor='let item of pedido.productoPedido'>
                  <ion-label>{{item.nombre}}</ion-label>
                  <strong slot="end">Cant: {{item.cantidad}}</strong>
                </ion-item>
              </ion-list>
            </ion-row>
            <ion-button expand="full" *ngIf="filtro == 'pendientes'" color="warning" (click)="TomarPedido(pedido)">Tomar
              pedido
            </ion-button>
            <ion-button expand="full" *ngIf="filtro == 'tomados'" color="warning" (click)="EntregarPedido(pedido)">
              Entregar pedido
            </ion-button>
          </ion-grid>
        </ion-item>
      </div>

    </ion-list>
  </div>
</ion-content>