<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenido, {{nombreUsuario}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-label *ngIf="mostrarSpinner">Spinner!</ion-label> -->

  <!-- fab abajo a la derecha -->
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="puedeJugar">
    <ion-fab-button color="danger">
      <ion-icon name="logo-game-controller-b"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="warning" (click)="irA('bebida')">
        <img src="../../../assets/imgs/bebida.png" alt="Postre" class="icon-juegos">
      </ion-fab-button>
      <ion-fab-button color="light" (click)="irA('postre')">
        <img src="../../../assets/imgs/postre.png" alt="Postre" class="icon-juegos">
      </ion-fab-button>
      <ion-fab-button color="dark" (click)="irA('descuento')">
        <img src="../../../assets/imgs/discount.png" alt="Descuento" class="icon-juegos">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->

  <ion-row *ngIf="puedeHacerPedido || puedeVerPedido">
    <ion-col class="ion-text-center">El codigo de su mesa es: {{mesa.id}}.</ion-col>
  </ion-row>

  <ion-row *ngIf="puedeHacerPedido">
    <ion-col class="ion-text-center">
      <ion-button color="primary" size="large" expand="block" (click)="escanearQR('hacerPedido')" class="ion-padding"
        style="height: auto;">
        <ion-icon color="secondary" name="qr-scanner" style="margin-right: 0.5rem"></ion-icon>
        Escanear<br />código QR de mesa<br />para realizar pedido
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="puedeVerPedido">
    <ion-col class="ion-text-center">
      <ion-button color="light" (click)="escanearQR('verPedido')">
        <ion-icon color="secondary" name="qr-scanner" style="margin-right: 0.5rem"></ion-icon>Ver estado del pedido
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="puedeSolicitarMesa">
    <ion-col class="ion-text-center">
      <ion-button color="light" (click)="solicitarMesa()">
        <ion-icon color="secondary" name="checkbox-outline"></ion-icon>Poner en lista de espera
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- <ion-row *ngIf="puedeHacerDelivery">
    <ion-col text-center>
      <ion-button color="light" (click)="pedirDelivery()">
        Delivery
      </ion-button>
    </ion-col>
  </ion-row> -->

  <ion-row *ngIf="esperandoAsignacion">
    <p>Se le asignará una mesa en unos momentos</p>
  </ion-row>
</ion-content>