<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de espera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">

  <ion-list style="background-color:rgba(5, 5, 5, 0) ">
    <ion-card style="--color: 'secundary'"  *ngFor="let u of listaEspera">
      <ion-card-content>
        <ion-card-title style="text-align: center; color: white">
          {{u.nombre}}
        </ion-card-title>
        <ion-avatar style="background-color: white" slot="start">
          <img *ngIf="!u.foto" src="../../assets/img/user-icon.png">
          <img *ngIf="u.foto" src={{u.foto}}>
        </ion-avatar>

        <div class="flev-h">
          <ion-button color="success" (click)=AceptarRegistro(u)>
            Confirmar</ion-button>
          <ion-button color="danger" (click)=CancelarUsuario(u)>
            Cancelar</ion-button>
        </div>

      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>