ion-content{
    --background: #fff url('../../assets/img/fondo.jpg') no-repeat center center / cover;
}

ion-thumbnail{
    --border-radius:50%;

}

ion-card{
    color:"secondary";
    background-color: #95A3A4;
    margin-bottom: 2em;
}

ion-avatar{
    float: left;
    margin-left: 14%;
}

.confirm-button{
    width: 40%;
}

ion-card-title{
    margin-bottom: 1em;
}

ion-card-content::after{
    content: "";
    clear: both;
    display: table;
}

.flev-h{
    margin-top: 2em;
    text-align: center;
}