

<ion-content padding="true">


    <ion-row justify-content-center>
        <img style="height: 100px; width: 100px;" src="../../assets/img/icon.png">
    </ion-row>

    <ion-input type="email" placeholder="Correo" [(ngModel)]="correo"></ion-input>
  

    <ion-input type="password" placeholder="Clave" [(ngModel)]="clave"></ion-input>
  
    
    <ion-button   expand="block" (click)="Ingresar()">Ingresar</ion-button>


    <ion-button   expand="block" (click)="IrARegistro()">Registrase</ion-button>

</ion-content>
