<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1" *ngIf="logeado">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list color="dark" style="padding: 0px">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages" color="dark">
          <ion-item (click)="navegoPagina(p.url)" color="dark">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content1" main></ion-router-outlet>

  <div id="custom-overlay" *ngIf="spinnerServ.showSpinner">
    <div class="flb">
      <div class="Aligner-item Aligner-item--top"></div>
      <img src="../assets/img/icon.png">
      <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
  </div>

</ion-app>