<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Reservas Pendientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
<ion-title>Lista de reservas pendientes</ion-title>
  <ion-list style="background-color:rgba(0, 0, 0, 0.829) ">
    <ion-card *ngFor="let r of listaReservas" color="secondary">
      <ion-card-title>
        {{r.usuario.nombre}} {{r.usuario.apellido}}
      </ion-card-title>
      <ion-card-content>
        {{r.fecha}}
        <ion-row justify-content-center>
          <ion-button color="success" (click)="AceptarReserva(r)">Aceptar</ion-button>
          <ion-button color="danger" (click)="CancelarReserva(r)">Cancelar</ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
